body {
  background-image: url("/Users/zking/dev/CodingGarden/outOfThisWorld/public/imgs/galaxybg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;  
}

.jumbotron {
  margin: auto;
}

.container {
  padding-top: 100px;
}

