<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/main.css">
  <title>Out of This World!</title>
</head>
<body>
<!-- Navbar -->
<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Users/zking/dev/CodingGarden/outOfThisWorld/views/landing.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://api.nasa.gov/">Link</a>
        </li>
      </ul>
    </div>  
  </nav>
</main>

<!-- <section>
  <div>
    <h2 class="today">Choose A Date!!</h2>
  </div>
  <div>
    <input type="date" name="datePicked">
  </div>
</section> -->

<main>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Atronomy Picture of the Day</div>
    <div class="card-body">
      <h4 class="card-title">NASA IMAGE!!</h4>
      <p class="card-text">Click the button to see today's picture!</p>
    </div>
  </div>
  <div class="button-section">
    <button id="btn" type="button" class="btn btn-success btn-lg">Go!</button>
  </div>
</main>

<Section>
  <div id="APOD" class="card mb-3" style="max-width: 60rem;">
  </div>
</Section>

<script src="../index.js"></script>
</body>
</html>